
* {
  box-sizing: border-box;
}

.App{
  text-align: center;
  height: 100vh;
  // background: linear-gradient(223deg, #DCDCDC, #808080);
  // background: linear-gradient(223deg, #fef9c7, #fce181);
  // background: linear-gradient(223deg, #026670, #9fedd7);
  background-size: 200% 400%;
  -webkit-animation: AnimationName 25s ease infinite;
  -moz-animation: AnimationName 25s ease infinite;
  animation: AnimationName 25s ease infinite;

  @-webkit-keyframes AnimationName {
    0% {
      background-position: 96% 0%;
    }
    50% {
      background-position: 5% 100%;
    }
    100% {
      background-position: 96% 0%;
    }
  }
  @-moz-keyframes AnimationName {
    0% {
      background-position: 96% 0%;
    }
    50% {
      background-position: 5% 100%;
    }
    100% {
      background-position: 96% 0%;
    }
  }
  @keyframes AnimationName {
    0% {
      background-position: 96% 0%;
    }
    50% {
      background-position: 5% 100%;
    }
    100% {
      background-position: 96% 0%;
    }
  }

}